* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.sp-bt {
    justify-content: space-between;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}

.bg-cyan {
    background-color: #b4d0e7;
}

/* tutto inerente al nav */
nav {
    background-color: white;
}

nav>ul>li {
    padding: 1rem;
    align-self: center;
}

button {
    border-radius: 0;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    background-color: #0061ff;
}

img[alt=logo-dropbox] {
    vertical-align: middle;
}

body>header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

/* sezione jumbotron */
.jumbotron {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 10rem;
}

h1 {
    max-width: 90%;
    font-size: 3.7rem;
}

.content {
    padding-top: 3rem;
}

/* img */
img[alt=jumbo-image] {
    max-width: 700px;
    position: absolute;
}

.jb-img {
    position: relative;
}

.testo>button {
    margin: 2rem 0;
}

.testo {
    max-width: 34%;
}

#arrow {
    margin: 5rem 0 1rem;
    display: inline-block;
    vertical-align: bottom;
    font-size: 2rem;
}

.width {
    max-width: 60%;
    margin: 6rem auto 0;
}

h2 {
    font-size: 2rem;
    padding-top: 4rem;
}

input {
    margin-top: 4rem;
}

header>span {
    margin-right: 3rem;
}

/* struttura colonne */

.card {
    width: calc((100%/3) - 1.5rem);
    margin: 3rem 0 2rem;
}

.border {
    border: 1px solid lightgrey;
}

.piano {
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 0.5rem;
}

.piano-info {
    padding: 2rem 1rem;
}

.price {
    padding: 0.5rem 0;
    font-weight: 900;
    font-size: 0.7rem;
}

.period {
    color: gray;
    margin-bottom: 3rem;
}


.piano-info>ul>li {
    padding: 0.5rem 0;
}

.piano-info>button {
    width: 100%;
    margin: 2rem 0 1.5rem;
}

hr {
    margin: 2rem 0 2rem;
    width: 25%;
    border-color: lightgrey;
}

.piano-info>ul:last-child {
    margin: 1.5rem 0;
}

section>footer {
    border: 1px solid lightgrey;
}

.button {
    width: 30%;
}

.padding {
    padding: 1rem 0 2rem;
}

.font-style {
    font-size: 0.8rem;
}

#w,
.team-img {
    width: 60%;
}

/* img + dx text */

img[alt=team-img],
img[alt=team-business] {
    width: 100%;
}

#gray-bt {
    color: gray;
    background-color: white;
    border: 2px solid gray;
}

.margin {
    margin: 3rem 0 1rem;
}

/* 6card section */

.wrap {
    flex-wrap: wrap;
}

.inline {
    display: inline-block;
}

#width {
    width: 60%;
    margin: 0;
}

/* university card */

.box {
    width: calc(100%/3);
}

.university-card {
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.university-card>img {
    width: 50%;
    filter: invert(100%);
}

#sponsor {
    margin-top: 4rem;
    height: calc(100vw/3);
}

#green {
    background-color: #a2d39b;
    border: 10px solid #d1e9cd;
}

#bordeaux {
    background-color: #61082b;
}

#lightblue {
    background-color: #0093ce;
}

#red {
    background-color: #ff1c1c;
}

#dark-red {
    background-color: #d5001f;
}

#light-cyan {
    background-color: #b4d0e7;
}

#blue {
    background-color: #0d2481;
}

#yellow {
    background-color: #ffd830;
}

#measure {
    padding: 2rem;
    background-color: #f5f5f5;
}

#measure>img[alt=designit] {
    width: 50%;
}

#measure>p:last-child {
    padding-top: 3rem;
}

#blue-article {
    margin: 0 auto;
    padding: 4rem 0;
}

#color-bordeaux {
    color: #61082b;
    padding: 0;
    width: 60%;
}

#bg-white {
    background-color: white;
    color: black;
    padding: 0.5rem 2rem;
}

section>hr {
    width: 100%;
}

/* loghi delle liste */
.user::before {
    font: var(--fa-font-solid);
    content: "\f007";
}

.folder::before {
    font: var(--fa-font-solid);
    content: "\f07b";
}

.team::before {
    font: var(--fa-font-solid);
    content: "\f0c0";
}

.share::before {
    font: var(--fa-font-solid);
    content: "\f1e0";
}

div.piano-info>ul:last-of-type>li::before {
    font: var(--fa-font-solid);
    content: "\f00c";
    color: blue;
}

body>footer {
    margin-top: 5rem;
    background-color: black;
    color: white;
    padding: 2rem 0 2rem;
}

footer ul li:first-child {
    padding-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 900;
}

footer ul li {
    padding-bottom: 1rem;
    font-weight: 200;
    font-size: 0.8rem;
}

footer ul {
    width: calc((100%/5) - 2rem);
}

#small {
    width: 15%;
}