* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.sp-bt {
    justify-content: space-between;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}

.bg-cyan {
    background-color: #b4d0e7;
}

/* tutto inerente al nav */
nav {
    background-color: white;
}

nav>ul>li {
    padding: 1rem;
    align-self: center;
}

button {
    border-radius: 0;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    background-color: #0061ff;
}

img[alt=logo-dropbox] {
    vertical-align: middle;
}

/* sezione jumbotron */
.jumbotron {
    max-width: 70%;
    margin: 0 auto;
    padding-top: 3rem;
}

h1 {
    font-size: 3.7rem;
}

.content {
    padding: 3rem 0 1rem;
}

img[alt=jumbo-image] {
    max-width: 100%;
    height: auto;
}

.testo * {
    margin-bottom: 2rem;
}

.testo {
    max-width: 38%;
}

#arrow {
    position: relative;
    top: 4rem;
}