* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.sp-bt {
    justify-content: space-between;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}

.bg-cyan {
    background-color: #b4d0e7;
}

/* tutto inerente al nav */
nav {
    background-color: white;
}

nav>ul>li {
    padding: 1rem;
    align-self: center;
}

button {
    border-radius: 0;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    background-color: #0061ff;
}

img[alt=logo-dropbox] {
    vertical-align: middle;
}

body>header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

/* sezione jumbotron */
.jumbotron {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 10rem;
}

h1 {
    max-width: 90%;
    font-size: 3.7rem;
}

.content {
    padding-top: 3rem;
}

/* img */
img[alt=jumbo-image] {
    max-width: 700px;
    position: absolute;
}

.jb-img {
    position: relative;
}

.testo>button {
    margin: 2rem 0;
}

.testo {
    max-width: 34%;
}

#arrow {
    margin: 5rem 0 1rem;
    display: inline-block;
    vertical-align: bottom;
    font-size: 2rem;
}

.width {
    max-width: 60%;
    margin: 6rem auto 0;
}

h2 {
    font-size: 2rem;
    padding: 4rem 0;
}

header>span {
    margin-right: 3rem;
}

/* struttura colonne */